<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/header.ejs') %>
    <main>

        <img
        class="banner-detail"
        src="/images/banner-maybelline.jpg"
        alt="banner-maybelline"
      />
      <div class="main-product-detail">
      <img
        class="img-detail"
        src="/images/products/<%= product.image %>"
        alt="maybelline-lash"
      />
      <div class="info-product-detail">
        <p class="product-detail"> <%= product.name %></p>
        <p class="price-detail">$ <%= product.price %></p>
        <button class="product-addcar" type="button">
          Añadir al carrito<em class="fa-solid fa-cart-shopping"></em>
        </button>
        <p class="p-detail">
         <%= product.description %>
        </p>
        <a href="/products/edit/<%= product.id %>">Editar</a>
      </div>
      </div>
      
      
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
