<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/header.ejs') %>
    <main>
      <div class="register-main">
        <h2 class="cart-title">Registrarse</h2>
        <form class="login-form" method="post" action="/users/register" enctype="multipart/form-data">

          <% if (locals.errors && errors.name ) { %>
            <p class="text-danger"> <%= errors.name.msg %></p>
          <% } %>
          <input
            class="login-input"
            type="text"
            name="name"
            id="name"
            placeholder="Nombre"
            value="<%= locals.oldData ? oldData.name : null %>"
          />
          <% if (locals.errors && errors.lastName ) { %>
            <p class="text-danger"> <%= errors.lastName.msg %></p>
          <% } %>
          <input type="	text"
            name="lastName"
            id=" lastName"
            placeholder="Apellido"
            class="login-input"
            value="<%= locals.oldData ? oldData.lastName : null %>"
          >
          <% if (locals.errors && errors.email ) { %>
            <p class="text-danger"> <%= errors.email.msg %></p>
          <% } %>
          <input
            type="text"
            name="email"
            id="email"
            placeholder="Direccion de correo electronico"
            class="login-input"
            value="<%=locals.oldData ? oldData.email : null %>"
          />
          <% if (locals.errors && errors.password ) { %>
            <p class="text-danger"> <%= errors.password.msg %></p>
          <% } %>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Contraseña"
            class="login-input"
          />
          <div>
            <p>Imagen de perfil</p>
            <label class="texto-register" for="foto-perfil"></label>

            <input
              class="perfil-register"
              type="file"
              name="filename"
              id="filename"
            />
          </div>
          <button class="login-button" type="submit">Registrarse</button>
        </form>
      </div>
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
